@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-press-start: "Press Start 2P", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-black font-press-start text-bone-white font-medium;
  }
}

@layer components {
  .main-container {
    @apply w-full min-h-svh px-5 flex items-center justify-center;
  }

  .input {
    @apply w-[365px] max-[480px]:w-[285px] max-[375px]:w-[215px] py-4 px-2 bg-matte-black text-bone-white text-sm max-[480px]:text-xs text-center border-none outline-none;
  }
}

@layer utilities {
  .text-welcome {
    @apply text-blood-red font-extrabold text-2xl max-md:text-xl max-[396px]:text-lg max-md:leading-[3rem] max-[396px]:leading-[2.75rem] max-[524px]:mx-auto max-[524px]:max-w-[275px] max-[524px]:max-w-[260px] tracking-wider text-center;
  }

  .text-button {
    @apply min-w-48 max-md:min-w-40 max-[480px]:min-w-36 max-[396px]:min-w-28 text-bone-white text-[0.925rem] max-md:text-[0.825rem] max-[480px]:text-[0.725rem] max-[396px]:text-[0.55rem];
  }

  .text-level {
    @apply min-w-24 max-[480px]:min-w-20 max-[375px]:min-w-16 text-bone-white text-[0.85rem] max-[480px]:text-[0.675rem] max-[375px]:text-[0.575rem];
  }
}

.fade-in {
  -webkit-animation: fadeIn 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: fadeIn 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pop-out {
  animation: popout 0.35s ease-in-out;
  -webkit-animation: popout 0.35s ease-in-out;
}

@-webkit-keyframes popout {
  from {
    -webkit-transform: scale(0);
  }

  80% {
    -webkit-transform: scale(1.2);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes popout {
  from {
    transform: scale(0);
  }

  80% {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

.game-box {
  width: 150px;
  height: 145px;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  cursor: context-menu !important;
  transition: 0.2s ease-in-out;
}

.game-box:nth-child(3),
.game-box:nth-child(6),
.game-box:nth-child(9) {
  border-right: none;
}

.game-box:nth-child(7),
.game-box:nth-child(8),
.game-box:nth-child(9) {
  border-bottom: none;
}

.game-box:hover {
  box-shadow: 5px 6px 10px 3px #fff;
}

@media screen and (max-width: 768px) {
  .game-box:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 640px) {
  .game-box {
    width: 130px;
    height: 130px;
  }
}

@media screen and (max-width: 480px) {
  .game-box {
    width: 100px;
    height: 110px;
  }
}

@media screen and (max-width: 375px) {
  .game-box {
    width: 85px;
    height: 95px;
  }
}
